<div class="alert alert-success" role="alert">
  Login component!
</div>
<div class="row">
  <div class="col-md-6">
<form>
  <div class="mb-3">
    <label for="uname" class="form-label btn-outline-info">User Nme</label>
    <input type="text" class="form-control btn-outline-success" [(ngModel)]="uname" name="uname" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="upwd" class="form-label btn-outline-info">Password</label>
    <input type="password" class="form-control btn-outline-success" name="upwd" [(ngModel)]="upwd">
  </div>
  
</form>
<button 
  class="btn btn-outline-warning" 
  (click)="login(Role.User)">Login as User</button>

<button 
  class="btn btn-outline-danger" 
  (click)="login(Role.Admin)">Login as Admin</button>
</div>
</div>
